<div class="container">
  <mat-toolbar class="toolbar app-header-banner">
    <mat-button-toggle
      mat-icon-button
      (click)="snav.toggle()"
      class="burger-button"
    >
      <mat-icon>menu</mat-icon>
    </mat-button-toggle>
    <h1 class="app-name">Time Tracking System</h1>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav
    #snav
    >
      <mat-nav-list class="sidenav-list app-left-menu">
        <a
          *ngFor="let menu of menus"
          [routerLink]="menu.routerLink"
          routerLinkActive="app-left-menu-selection"
          class="sidenav-item app-left-menu-item"
          >{{ menu.description }}</a
        >
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>